{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>In Touch</title>

        <!-- all css files -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" charset="utf-8">

        <script src="{% static 'js/react.min.js' %}"></script>
        <script src="{% static 'js/react-dom.min.js' %}"></script>
        <script src="{% static 'js/browser.js' %}"></script>

    </head>
    <body>
        <div id="app"></div>

        <script type="text/babel">
            var App = React.createClass({
                render: function() {
                    return(
                        <div>ck</div>
                    );
                }
            });
            ReactDOM.render(
                <App />,
                document.getElementById('app')
            );
        </script>
    </body>
</html>
